@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
    font-family: Gilroy-Black;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Gilroy-Extrabold;
    src: url(../fonts/Gilroy/Gilroy-Extrabold.ttf);
}
@font-face {
    font-family: Gilroy-Heavy;
    src: url(../fonts/Gilroy/Gilroy-Heavy.ttf);
}
@font-face {
    font-family: Gilroy-Thin;
    src: url(../fonts/Gilroy/Gilroy-Thin.ttf);
}
@font-face {
    font-family: Gilroy-UltraLight;
    src: url(../fonts/Gilroy/Gilroy-UltraLight.ttf);
}
@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}
@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'fontAwesome-brands';
    src: url('../fonts/fontAwesome/fa-brands-400.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'fontAwesome-duatone';
    src: url('../fonts/fontAwesome/fa-duotone-900.woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'fontAwesome-light';
    src: url('../fonts/fontAwesome/fa-light-300.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'fontAwesome';
    src: url('../fonts/fontAwesome/fa-regular-400.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'fontAwesome-solid';
    src: url('../fonts/fontAwesome/fa-solid-900.woff2');
    font-weight: 900;
}

.fad {
    font-family: 'fontAwesome-duatone';
    font-style: normal;
    font-weight: 900;
}

.fab {
    font-family: 'fontAwesome-brands';
    font-style: normal;
    font-weight: 400;
}

.fa,
.far {
    font-family: 'fontAwesome';
    font-style: normal;
}

.fal {
    font-family: 'fontAwesome-light';
    font-style: normal;
}

.fas {
    font-family: 'fontAwesome-solid';
    font-style: normal;
}