@media(max-width: 1920px) {
    .main__sale-action-img {
        height: 550px;
    }
    .main__categories-action-img {
        height: 550px;
    }
}
@media(max-width: 1700px) {
    .main__news-news {
        flex-wrap: wrap;
    }
    .main__news-new{
        max-width: 100%;
        width: 100%;
        margin-left: 30px;
    }
    .main__news-action{
        max-width: 100%;
        width: 100%;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .main__bestsellers-card-title,
    .main__sale-card-title{
        font-size: 20px;
        height: 50px;
    }
}
@media(max-width: 1630px) {
    .main__bestsellers-cards,
    .main__sale-cards{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .main__bestsellers-card{
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .main__sale-card{
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
}
@media(max-width: 1372px) {
    .main__news-descr{
        flex-wrap: wrap;
        padding: 0 45px;
    }
}
@media(max-width: 1440px) {
    .main__sale-action-img {
        height: 350px;
    }
    .main__categories-block{
        height: 250px;
        margin-top: 30px;
    }
    .main__categories-action-img {
        height: 350px;
    }

    .main__categories-action-content::after{
        width: 85px;
        height: 110px;
        font-size: 16px;
        left: -52px;
    }
    .main__support-action-img{
        height: 500px;
    }
    .main__sale-action-content-title{
        font-size: 35px;
        margin-bottom: 10px !important;
    }
    .main__sale-actiontext{
        font-size: 49px;
    }
    .main__sale-action-content{
        justify-content: space-evenly;
    }
    .main__content-sale-button{
        margin-top: 1px;
        padding: 2px 27px;
        font-size: 22px;
    }
    .main__sale-action-content p{
        margin-bottom: 7px;
    }
}
@media(max-width: 1304px) {
    .header__nav{
        display: none;
        overflow: hidden;
    }
    .main__news-carousel{
        margin-top: 118px;
    }
    .header__content{
        justify-content: center;
    }
    .header__link-hidden{
        display: block;
        overflow: visible;
    }
}
@media(max-width: 1155px) {
    .main__categories-action-content-title{
        font-size: 37px;
        margin-bottom: 15px;
    }
    .main__categories-actiontext{
        font-size: 55px;
    }
    .main__content-action-button{
        margin-top: 15px;
        padding: 2px 27px;
        font-size: 22px;
    }
}

@media(max-width: 1024px) {
    .main__support-action-img{
        height: 450px;
    }
    .main__support-action-content-title{
        font-size: 35px;
        margin-bottom: 18px !important;
    }
    .main__support-action-content{
        padding-left: 30px;
    }
    .main__support-action-content-descr{
        font-size: 22px;
    }
    .main__content-support-button{
        margin-top: 15px;
        padding: 2px 27px;
        font-size: 22px;
    }
    .main__mailing-input{
        width: 500px !important;
    }
}
@media(max-width: 919px) {
    .main__sale-card{
        max-width: 265px;
        padding-bottom: 10px;
    }
    .main__sale-card-title{
        height: 45px;
        width: 100%;
    }
    .main__sale-card-info{
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .main__bestsellers-card{
        max-width: 265px;
        padding-bottom: 10px;
    }
    .main__bestsellers-card-title{
        height: 45px;
        width: 100%;
    }
    .main__bestsellers-card-info{
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .main__carousel-content{
        height: 400px;
    }
    .main__carousel-title{
        font-size: 54px;
        margin-bottom: 20px;
    }
    .main__carousel-info{
        height: 400px;
        margin-left: 45px;
    }
}
@media(max-width: 805px) {
    .main__categories-action-content-title{
        font-size: 27px;
        margin-bottom: 15px;
    }
    .main__categories-actiontext{
        font-size: 31px;
    }
    .main__content-action-button{
        margin-top: 0px;
        font-size: 20px;
        line-height: 33px;
    }
    .main__categories-action-content-descr{
        font-size: 22px;
    }
    .main__categories-action-img{
        height: 250px;
    }
    .main__title-bestsellers, 
    .main__title-categories, 
    .main__title-sale,
    .main__brands-title{
        font-size: 37px;
    }
    .main__categories-block{
        height: 150px;
    }
    .main__categories-block-title{
        font-size: 27px;
    }
    .main__content-sale-button{
        line-height: 33px;
    }
}
@media(max-width: 768px) {
    .main__sale-action-content-title{
        font-size: 27px;
    }
    .header__content{
        justify-content: end;
    }
    .header__content-search{
        margin-right: 22px;
    }
    .main__brands-title{
        margin-bottom: 0px;
    }
    .main__mailing-input{
        width: 320px !important;
    }
    .main__mailing-button{
        font-size: 14px;
    }
    .main__news-new{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__brands-brands{
        padding: 30px 0; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main__news-descr{
        padding: 20px 0;
    }
    .main__news-info{
        margin-top: 22px;
    }
    .main__brand-img{
        max-width: 350px;
        width: 100%;
        max-height: 190px;
        height: 100%;
    }
    .main__support-action-img{
        height: 250px;
    }
    .main__support-action-content-title{
        font-size: 24px;
        margin-top: 10px;
    }
    .main__support-action-content-descr{
        font-size: 16px;
    }
    .main__content-support-button{
        padding: 2px 21px;
        font-size: 17px;
        line-height: 32PX;
        margin-bottom: 10px;
        margin-top: 0px;
    }
}
@media(max-width: 686px) {
    .header__content-input{
        width: 220px;
    }
    .main__news-action{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__news-newcontent{
        text-align: left;
        max-width: 450px;
        width: 100%;
        margin-right: 0;
    }
    .main__news-actioncontent{
        margin-left: 30px;
    }
    .main__news-newcontent{
        margin-left: 30px;
    }
    .main__news-newpng{
        margin-left: 0;
    }
}
@media(max-width: 576px) {
    .header__content-search{
        display: none;
        overflow: hidden;
    }
    .header__search-icon-hidden{
        display: flex;
        overflow: visible;
        visibility: visible;
    }
    .main__news-carousel{
        margin-top: 103px;
    }
    .main__carousel-news,
    .main__news-action,
    .main__news-new,
    .main__news-descr,
    .main__bestsellers-content,
    .main__categories-content,
    .main__categories-action,
    .main__sale-content,
    .main__sale-action,
    .main__brands-content,
    .main__mailing-content{
        margin: 0 15px 15px 15px;
    }
    .main__brands-brands{
        margin-bottom: 0;
    }
    .main__sale-action-img{
        height: 230px;
    }
    .main__sale-action-content-title{
        font-size: 20px;
    }
    .main__sale-actiontext{
        font-size: 30px;
    }
    .main__sale-action-content-descr:nth-of-type(1){
        font-size: 16px;
    }
    .main__content-sale-button{
        padding: 2px 21px;
        font-size: 17px;
        line-height: 22PX;
    }
    .main__sale-action-content {
        padding-left: 25px;
    }
    .main__mailing-input{
        width: 240px !important;
    }
    .main__mailing-title{
        font-size: 26px;
    }
    .main__mailing-descr{
        font-size: 20px;
    }
}
@media(max-width: 496px) {
    .main__support-action-content-title{
        font-size: 17px;
        margin-top: 10px;
    }
    .main__support-action-content-descr{
        font-size: 12px;
        padding: 0;
    }
    .main__content-support-button{
        padding:  2px 21px;
        font-size: 14px;
        line-height: 22PX;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .main__support-action-content{
        padding-left: 15px;
    }
    .main__categories-block-title{
        font-size: 20px;
    }
    .main__carousel-content{
        height: 250px;

    }
    .main__carousel-info{
        height: 250px;
        margin-left: 20px;
    }
    .main__carousel-title{
        font-size: 30px;
        max-width: 350px;
        width: 100%;
    }
    .main__carousel-descr{
        font-size: 17px;
        max-width: 350px;
        width: 100%;
    }
}
@media(max-width: 396px) {
    .main__mailing-input{
        width: 205px !important;
        height: 40px;
        font-size: 15px;
    }
    .main__mailing-button{
        height: 40px;
        padding: 10px 10px;
    }
    .main__categories-action-img{
        height: 190px !important;
    }
    .main__categories-action-content-title{
        font-size: 21px;
    }
    .main__categories-action-content-descr{
        font-size: 14px;
    }
    .main__content-action-button{
        padding:  2px 21px;
        font-size: 14px;
        line-height: 22PX;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .main__categories-action-content{
        padding-left: 20px;
    }
    .main__categories-action-content::after{
        width: 65px;
        height: 85px;
        left: -41px;
        font-size: 12px;
    }
}
